:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --white: hsl(0, 0%, 100%);
    --gray-blue: hsl(210, 4%, 67%);
    --dark-blue-saturated: hsl(212, 27%, 19%);
    --dark-gray-blue: hsl(232, 10%,55%);
    --darker-gray-blue: hsl(213, 9%, 39%);
    --graphic-design-color: hsl(167, 40%, 24%);
    --photography-text: hsl(198, 62%, 26%);
    --footer: hsl(169, 34%, 24%);
    --footer-bg: hsl(168, 46%, 70%);
    --barlow: 'Barlow', sans-serif;
    --fraunces: 'Fraunces', serif;

    font-size: 18px;
    font-weight: 600;
    font-family: var(--barlow);
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
}

.header {
    position: relative;
    color: var(--white);
    font-size: 0;
}

.photo-bg {
    width: 100%;
    height: 75vh;
    object-fit: cover;
}

.nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
}

.logo {
    font-size: 1.25rem;
}

ul {
    list-style: none;
}

.nav {
    display: flex;
    font-size: 1rem;
    align-items: center;
}

.hamburger {
    display: none;
}

.nav li {
    margin-left: 2.5rem;
    cursor: pointer;
}

.btn {
    background-color: var(--white);
    color: var(--dark-blue-saturated);
    font-family: var(--fraunces);
    font-weight: 900;
    font-size: .8rem;
    padding: .75rem 1.5rem;
    border-radius: 50px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(129, 132, 152, 0.603);
    color: var(--white)
}

@media (max-width: 800px) {
    .toggle {
        display: none;
    }

    .nav {
        z-index: 99;
        flex-direction: column;
        background-color: var(--white);
        color: var(--dark-gray-blue);
        width: 85%;
        margin: 0 auto;
        padding: 0;
        position: absolute;
        top: 95%;
        right: 0;
        left: 0;
    }

    .nav li {
        margin: 1.5rem 0;
    }

    .btn {
        background-color: var(--yellow);
    }

    .hamburger {
        display: block;
    }

    .hamburger:hover {
        cursor: pointer;
    }
}

h1 {
    position: absolute;
    top: 22.5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 85%;
    text-align: center;
    font-family: var(--fraunces);
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 8px;
}

.arrow {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.transform, 
.stand-out, 
.text-over-img,
.testimonial-wrapper {
    display: flex;
    flex-direction: column;
}

.text-wrapper {
    order: 99;
    width: 85%;
    max-width: 450px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    color: var(--dark-gray-blue);
    font-size: .9rem;
}

h2, .learn-more {
    color: var(--dark-blue-saturated);
}

h2 {
    font-family: var(--fraunces);
    font-weight: 900;
    font-size: 2em;
    margin-bottom: 2rem;
}

.learn-more {
    position: relative;
    font-family: var(--fraunces);
    font-weight: 900;
    margin-top: 2rem;
}

.learn-more::after {
    position: absolute;
    content: '';
    width: 120px;
    height: 8px;
    background-color: var(--yellow);
    left: 0;
    right: 0;
    bottom: 0px;
    margin: 0 auto;
    z-index: -1;
    opacity: .35;
}

.stand-out .learn-more::after {
    background-color: var(--soft-red);
}

.learn-more:hover {
    cursor: pointer;
}

.learn-more:hover::after {
    opacity: 1;
}

.graphic, 
.photography {
    position: relative;
    font-size: 0;
}

.img-bg-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    width: 85%;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    font-size: .9rem;
}

.img-bg-text h3 {
    font-family: var(--fraunces);
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.graphic {
    color: var(--graphic-design-color);
}

.photography {
    color: var(--photography-text);
}

.text-over-img p {
    opacity: .8;
    line-height: 1.5rem;
}

.testimonial-section {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    font-size: .9rem;
}

.testimonial-title {
    font-family: var(--fraunces);
    font-weight: 900;
    letter-spacing: 4px;
    margin: 3rem auto 1.5rem;
}

.testimonial-wrapper img {
    height: 80px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.quote {
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
    color: var(--darker-gray-blue);
}

.name {
    font-family: var(--fraunces);
    font-size: 1.125rem;
    font-weight: 900;
}

.job-title {
    font-size: .75rem;
}

.testimonial {
    margin: 1.5rem auto;
}

.testimonial-title,
.job-title {
    color: var(--gray-blue);
}

.photo-grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.photo-grid img {
    width: 50%;
    height: 35%;
    object-fit: cover;
}

.footer {
    background-color: var(--footer-bg);
    color: var(--footer);
    text-align: center;
    height: 30%;
    padding: 3rem;
}

.footer .logo {
    margin-bottom: 3rem;
}

.footer .logo {
    font-size: 2rem;
}

.footer ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

.menu,
.socials {
    width: 85%;
    margin: 0 auto;
}

.menu {
    margin-bottom: 5rem;
}

.menu li {
    margin: 0 1.5rem;
    opacity: .65;
}

.menu li:hover {
    cursor: pointer;
    color: var(--white);
    opacity: .75;
}

.socials li {
    margin: 0 .75rem;
}

.socials li:hover {
    cursor: pointer;
    filter: brightness(0) invert(1);
    opacity: .75;
}

@media (min-width: 650px) {

    h1{
        font-size: 2.75rem;
    }

    .header .logo {
        font-size: 1.75rem;
    }

    .transform,
    .stand-out,
    .text-over-img {
        flex-direction: row;
    }
    
    .transform,
    .stand-out {
        align-items: center;
    }
    
    .transform img,
    .stand-out img {
        height: 100%;
        width: 50%;
        object-fit: cover;
    }
    
    .transform .text-wrapper {
        order: -1;
    }
    
    .text-wrapper {
        padding: 0 1rem;
        width: 50%;
        text-align: left;
    }
    
    .learn-more::after {
        margin: 0;
    }

    .photo-grid {
        flex-wrap: nowrap;
    }
    
    .photo-grid img {
        width: 25%;
    }

}

@media (min-width: 800px) {
    .testimonial-wrapper {
        flex-direction: row;
        margin-bottom: 5rem;
    }
    
    .testimonial-title {
        margin-top: 5rem;
    }

    .testimonial {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
